body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a88585; 
}


.navbar {
    background-color: #600000; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 60px;
}

.logo { font-size: 26px; }

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a, .nav-buy a {
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
}


.cart-container {
    padding: 40px 10%;
}

.payment-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.pay-btn {
    background-color: #600000; 
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}


.cart-item {
    background-color: #a36d6d; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    border-radius: 15px;
    border: 1px solid #7c5656;
}

.cart-img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
}

.pizza-title {
    color: white;
    font-size: 32px;
    flex-grow: 1;
    margin-left: 30px;
}


.counter-block {
    display: flex;
    align-items: center;
    gap: 15px;
}

.count-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.count-value {
    background-color: #d9d9d9;
    padding: 8px 25px;
    border-radius: 20px;
    font-size: 20px;
    color: black;
}

.price-text {
    color: white;
    font-size: 22px;
    margin: 0 40px;
}


.delete-btn {
    background-color: #d9d9d9;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}