body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a88585; 
}


.navbar {
    background-color: #600000; 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo { font-size: 26px; }

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
}


.nav-links a, 
.nav-buy a {
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
}

.nav-buy a:visited {
    color: white !important;
}


.container {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 30px;             
    max-width: 1000px;     
    justify-content: center;
}


.card {
    background-color: #a36d6d; 
    width: 280px;              
    border-radius: 25px;
    border: 1px solid #7c5656;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    box-sizing: border-box;   
}


.pizza-img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #5a3a3a;
}


.pizza-info {
    background-color: #d9d9d9;
    width: 90%;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 18px;
}

.price {
    color: white;
    font-size: 22px;
    margin: 15px 0;
}


.buy-btn {
    background-color: #d9d9d9;
    color: black !important;
    text-decoration: none;
    padding: 10px 45px;
    border-radius: 30px;
    font-size: 22px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}

.buy-btn:hover {
    transform: scale(1.05);
    background-color: #ffffff;
}